In [2]:
print('This is my first Data Science Program')

This is my first Data Science Program

In [11]:
import pandas as pd

In [12]:
marks = [67,89,98,80,70]

In [13]:
s = pd.Series(marks)
s

0    67
1    89
2    98
3    80
4    70
dtype: int64

In [14]:
marksFloat = [67.5,89.3,98.7,80.9,70.3]

In [15]:
s1 = pd.Series(marksFloat)
s1

0    67.5
1    89.3
2    98.7
3    80.9
4    70.3
dtype: float64

In [20]:
marksReal = [8,7.5,9]
names = ['Jash','Ram','Shyam']

In [21]:
marksSeries = pd.Series(marksReal,index=names)
marksSeries

Jash     8.0
Ram      7.5
Shyam    9.0
dtype: float64

In [22]:
s1[2]

98.7

In [25]:
marksSeries[1]

C:\Users\Jash\AppData\Local\Temp\ipykernel_29228\1452730050.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  marksSeries[1]

7.5

In [27]:
s1[1:5]

1    89.3
2    98.7
3    80.9
4    70.3
dtype: float64

In [29]:
marksSeries['Jash'] += 1
marksSeries

Jash     10.0
Ram       7.5
Shyam     9.0
dtype: float64

In [34]:
marksPercent = (marksSeries/10)*100
marksPercent

Jash     100.0
Ram       75.0
Shyam     90.0
dtype: float64

In [35]:
marksSeries

Jash     10.0
Ram       7.5
Shyam     9.0
dtype: float64

In [39]:
squares = pd.Series([4,9,25,121,53])
squares

0      4
1      9
2     25
3    121
4     53
dtype: int64

In [40]:
import math
squares.apply(lambda x: math.sqrt(x))

0     2.00000
1     3.00000
2     5.00000
3    11.00000
4     7.28011
dtype: float64

In [60]:
houseMembers = pd.Series([5,None,7,8,6,4,3,6,8,7,5,None,4,3,5,6,3,None,6,5])
# print(len(houseMembers))
houseMembers

0     5.0
1     NaN
2     7.0
3     8.0
4     6.0
5     4.0
6     3.0
7     6.0
8     8.0
9     7.0
10    5.0
11    NaN
12    4.0
13    3.0
14    5.0
15    6.0
16    3.0
17    NaN
18    6.0
19    5.0
dtype: float64

In [62]:
houseMembers.fillna(houseMembers.mean(),inplace=True)
houseMembers

0     5.000000
1     5.352941
2     7.000000
3     8.000000
4     6.000000
5     4.000000
6     3.000000
7     6.000000
8     8.000000
9     7.000000
10    5.000000
11    5.352941
12    4.000000
13    3.000000
14    5.000000
15    6.000000
16    3.000000
17    5.352941
18    6.000000
19    5.000000
dtype: float64

In [63]:
houseMembers

0     5.000000
1     5.352941
2     7.000000
3     8.000000
4     6.000000
5     4.000000
6     3.000000
7     6.000000
8     8.000000
9     7.000000
10    5.000000
11    5.352941
12    4.000000
13    3.000000
14    5.000000
15    6.000000
16    3.000000
17    5.352941
18    6.000000
19    5.000000
dtype: float64

In [2]:
a = int(input("Enter number of times you have to print: "))
for num in range(a):
    print(num)

0
1
2
3
4