In [2]:
import pandas as pd

data_easy_encode = {
    "Water_Intake": [
        "Low", "Medium", "High", "Medium", "Low",
        "High", "Medium", "Low", "High", "Medium"
    ],
    
    "Workout_Regularity": [
        "Never", "Sometimes", "Daily", "Sometimes", "Never",
        "Daily", "Sometimes", "Never", "Daily", "Sometimes"
    ],
    
    "Diet_Type": [
        "Junk", "Balanced", "Balanced", "Junk", "Junk",
        "Balanced", "Balanced", "Junk", "Balanced", "Balanced"
    ],
    
    "Sleep_Quality": [
        "Poor", "Average", "Good", "Average", "Poor",
        "Good", "Average", "Poor", "Good", "Average"
    ],
    
    "Uses_Fitness_App": [
        "Yes", "No", "Yes", "No", "No",
        "Yes", "No", "Yes", "Yes", "No"
    ],
    
    # Numeric target
    "Health_Score": [40, 65, 85, 60, 45, 90, 70, 42, 88, 68]
}

df = pd.DataFrame(data_easy_encode)
df

,Water_Intake,Workout_Regularity,Diet_Type,Sleep_Quality,Uses_Fitness_App,Health_Score
0,Low,Never,Junk,Poor,Yes,40
1,Medium,Sometimes,Balanced,Average,No,65
2,High,Daily,Balanced,Good,Yes,85
3,Medium,Sometimes,Junk,Average,No,60
4,Low,Never,Junk,Poor,No,45
5,High,Daily,Balanced,Good,Yes,90
6,Medium,Sometimes,Balanced,Average,No,70
7,Low,Never,Junk,Poor,Yes,42
8,High,Daily,Balanced,Good,Yes,88
9,Medium,Sometimes,Balanced,Average,No,68

In [3]:
def changeToLabel(str):
    if str == 'Low':
        return 0
    elif str == 'Medium':
        return 1
    else:
        return 2

In [6]:
df['Water_Intake'] = df['Water_Intake'].apply(lambda x: changeToLabel(x))
df

,Water_Intake,Workout_Regularity,Diet_Type,Sleep_Quality,Uses_Fitness_App,Health_Score
0,0,Never,Junk,Poor,Yes,40
1,1,Sometimes,Balanced,Average,No,65
2,2,Daily,Balanced,Good,Yes,85
3,1,Sometimes,Junk,Average,No,60
4,0,Never,Junk,Poor,No,45
5,2,Daily,Balanced,Good,Yes,90
6,1,Sometimes,Balanced,Average,No,70
7,0,Never,Junk,Poor,Yes,42
8,2,Daily,Balanced,Good,Yes,88
9,1,Sometimes,Balanced,Average,No,68

In [8]:
from sklearn.preprocessing import LabelEncoder

LE = LabelEncoder()

In [9]:

df['Workout_Regularity'] = LE.fit_transform(df['Workout_Regularity'])
df

,Water_Intake,Workout_Regularity,Diet_Type,Sleep_Quality,Uses_Fitness_App,Health_Score
0,0,1,Junk,Poor,Yes,40
1,1,2,Balanced,Average,No,65
2,2,0,Balanced,Good,Yes,85
3,1,2,Junk,Average,No,60
4,0,1,Junk,Poor,No,45
5,2,0,Balanced,Good,Yes,90
6,1,2,Balanced,Average,No,70
7,0,1,Junk,Poor,Yes,42
8,2,0,Balanced,Good,Yes,88
9,1,2,Balanced,Average,No,68

In [10]:
WorkOutClasses = LE.classes_
WorkOutClasses

array(['Daily', 'Never', 'Sometimes'], dtype=object)

In [11]:

df['Sleep_Quality'] = LE.fit_transform(df['Sleep_Quality'])
df

,Water_Intake,Workout_Regularity,Diet_Type,Sleep_Quality,Uses_Fitness_App,Health_Score
0,0,1,Junk,2,Yes,40
1,1,2,Balanced,0,No,65
2,2,0,Balanced,1,Yes,85
3,1,2,Junk,0,No,60
4,0,1,Junk,2,No,45
5,2,0,Balanced,1,Yes,90
6,1,2,Balanced,0,No,70
7,0,1,Junk,2,Yes,42
8,2,0,Balanced,1,Yes,88
9,1,2,Balanced,0,No,68

In [12]:
SleepQualityClasses = LE.classes_
SleepQualityClasses

array(['Average', 'Good', 'Poor'], dtype=object)

array(['Average', 'Good', 'Poor'], dtype=object)

In [16]:
OneHot = pd.get_dummies(df[['Diet_Type','Uses_Fitness_App']])
OneHot

,Diet_Type_Balanced,Diet_Type_Junk,Uses_Fitness_App_No,Uses_Fitness_App_Yes
0,False,True,False,True
1,True,False,True,False
2,True,False,False,True
3,False,True,True,False
4,False,True,True,False
5,True,False,False,True
6,True,False,True,False
7,False,True,False,True
8,True,False,False,True
9,True,False,True,False

In [20]:
FinalDF = pd.concat([df,OneHot],axis=1)
FinalDF

,Water_Intake,Workout_Regularity,Diet_Type,Sleep_Quality,Uses_Fitness_App,Health_Score,Diet_Type_Balanced,Diet_Type_Junk,Uses_Fitness_App_No,Uses_Fitness_App_Yes
0,0,1,Junk,2,Yes,40,False,True,False,True
1,1,2,Balanced,0,No,65,True,False,True,False
2,2,0,Balanced,1,Yes,85,True,False,False,True
3,1,2,Junk,0,No,60,False,True,True,False
4,0,1,Junk,2,No,45,False,True,True,False
5,2,0,Balanced,1,Yes,90,True,False,False,True
6,1,2,Balanced,0,No,70,True,False,True,False
7,0,1,Junk,2,Yes,42,False,True,False,True
8,2,0,Balanced,1,Yes,88,True,False,False,True
9,1,2,Balanced,0,No,68,True,False,True,False

In [26]:
dataset = FinalDF.select_dtypes(['number','boolean'])
dataset

,Water_Intake,Workout_Regularity,Sleep_Quality,Health_Score,Diet_Type_Balanced,Diet_Type_Junk,Uses_Fitness_App_No,Uses_Fitness_App_Yes
0,0,1,2,40,False,True,False,True
1,1,2,0,65,True,False,True,False
2,2,0,1,85,True,False,False,True
3,1,2,0,60,False,True,True,False
4,0,1,2,45,False,True,True,False
5,2,0,1,90,True,False,False,True
6,1,2,0,70,True,False,True,False
7,0,1,2,42,False,True,False,True
8,2,0,1,88,True,False,False,True
9,1,2,0,68,True,False,True,False

In [31]:
dataset['Health_Score'] = dataset['Health_Score'] * 2
dataset

,Water_Intake,Workout_Regularity,Sleep_Quality,Health_Score,Diet_Type_Balanced,Diet_Type_Junk,Uses_Fitness_App_No,Uses_Fitness_App_Yes
0,0,1,2,80,False,True,False,True
1,1,2,0,130,True,False,True,False
2,2,0,1,170,True,False,False,True
3,1,2,0,120,False,True,True,False
4,0,1,2,90,False,True,True,False
5,2,0,1,180,True,False,False,True
6,1,2,0,140,True,False,True,False
7,0,1,2,84,False,True,False,True
8,2,0,1,176,True,False,False,True
9,1,2,0,136,True,False,True,False