In [61]:
# %pip install pandas

In [62]:
import pandas as pd

In [63]:
li = [1, 2.5, 3, 4, 5,"Hello",[1,2,3,4,5,6,7]]
li

[1, 2.5, 3, 4, 5, 'Hello', [1, 2, 3, 4, 5, 6, 7]]

In [64]:
type(li)

list

In [65]:
s = pd.Series(li, index=['integer', 'Decimal', 'Interger',
              'int', 'int1', 'Greeting', 'Natural Number'])
s

integer                               1
Decimal                             2.5
Interger                              3
int                                   4
int1                                  5
Greeting                          Hello
Natural Number    [1, 2, 3, 4, 5, 6, 7]
dtype: object

In [66]:
s['int']

4

In [67]:
s['Greeting']

'Hello'

In [68]:
s[1:5]

Decimal     2.5
Interger      3
int           4
int1          5
dtype: object

In [69]:
s['int'] = 10
s

integer                               1
Decimal                             2.5
Interger                              3
int                                  10
int1                                  5
Greeting                          Hello
Natural Number    [1, 2, 3, 4, 5, 6, 7]
dtype: object

In [70]:
numbers = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10],index=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
numbers*5

1      5
2     10
3     15
4     20
5     25
6     30
7     35
8     40
9     45
10    50
dtype: int64

In [71]:
numbers = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

sqrt = numbers.apply(lambda a: a+5)
sqrt

0     6
1     7
2     8
3     9
4    10
5    11
6    12
7    13
8    14
9    15
dtype: int64

In [72]:
Marks = pd.Series([20,13,15,None,19])
Marks.isna()

0    False
1    False
2    False
3     True
4    False
dtype: bool

In [73]:
Marks.fillna(0,inplace=True)

In [74]:
Marks

0    20.0
1    13.0
2    15.0
3     0.0
4    19.0
dtype: float64