### Connecting Python to SQL

First of all Install mysql-connector-python

```python
pip install mysql-connector-python
```

In [1]:
import mysql.connector

Now we need 4 values to connect with MySQL Database:
1. Host
2. User
3. password
4. database

Create a connection name object using mysql.connector

In [15]:
connection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "admin",
    database="advancesql",
)

Lets test the connection

In [16]:
connection.is_connected()

True

In [17]:
connection.is_closed()

False

In [18]:
connection.close()
connection.is_closed()

True

What if connection got an error?

In [19]:
try:
    connection = mysql.connector.connect(
        host = "localhost",
        user = "root",
        password = "admin",
        database="advancesql",
    )
    print("Connection Successfull")
except Exception as e:
    print("There was an error:",e)

Connection Successfull

Lets Create a table using Python
```sql
CREATE TABLE cafe_menu (
    item_id INT AUTO_INCREMENT PRIMARY KEY,
    item_name VARCHAR(50) NOT NULL,
    category VARCHAR(30),
    price DECIMAL(6,2),
    availability BOOLEAN DEFAULT TRUE
);
```

In [ ]:
cursor = connection.cursor()

In [21]:
query = """
CREATE TABLE cafe_menu (
    item_id INT AUTO_INCREMENT PRIMARY KEY,
    item_name VARCHAR(50) NOT NULL,
    category VARCHAR(30),
    price DECIMAL(6,2),
    availability BOOLEAN DEFAULT TRUE
);
"""

In [25]:
try:
    cursor.execute(query)
except Exception as e:
    print(e)

1050 (42S01): Table 'cafe_menu' already exists

Inserting multiple values in the table using custom inputs with ```%s``` placeholder and 

```python
cursor.executemany()
```


```sql
INSERT INTO cafe_menu (item_name, category, price)
VALUES (%s, %s, %s)
```

In [25]:
data = [
    ('Espresso', 'Coffee', 120.00),
    ('Cappuccino', 'Coffee', 150.00),
    ('Cheese Sandwich', 'Snack', 90.00),
    ('Chocolate Muffin', 'Dessert', 80.00),
    ('Cold Coffee', 'Coffee', 130.00),
    ('Black Tea', 'Tea',5.00)
]

We need to commit changes everytime we make changes in the database.

Executing Select Query:
```python
cursor.fetchall()
```

updating values using ```%s``` placeholder

```sql
UPDATE cafe_menu
SET price = %s
WHERE item_name = 'Cold Coffee';

UPDATE cafe_menu
SET availability = %s
WHERE item_name = 'Cheese Sandwich';
```

Updating Multiple Coloumns

```SQL
UPDATE cafe_menu 
set availability = %s, price = %s
where item_name = %s;

In [ ]:
updated_item = [True,20.00]

Delete from table

Transcations using
- start_transaction()
- commit()