### Connecting Python to SQL

First of all Install mysql-connector-python

```python
pip install mysql-connector-python
```

In [18]:
import mysql.connector

Now we need 4 values to connect with MySQL Database:
1. Host
2. User
3. password
4. database

Create a connection name object using mysql.connector

In [15]:
connection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "admin",
    database="advancesql",
)

Lets test the connection

In [16]:
connection.is_connected()

True

In [17]:
connection.is_closed()

False

In [18]:
connection.close()
connection.is_closed()

True

What if connection got an error?

In [19]:
try:
    connection = mysql.connector.connect(
        host = "localhost",
        user = "root",
        password = "admin",
        database="advancesql",
    )
    print("Connection Successfull")
except Exception as e:
    print("There was an error:",e)

Connection Successfull

Lets Create a table using Python
```sql
CREATE TABLE cafe_menu (
    item_id INT AUTO_INCREMENT PRIMARY KEY,
    item_name VARCHAR(50) NOT NULL,
    category VARCHAR(30),
    price DECIMAL(6,2),
    availability BOOLEAN DEFAULT TRUE
);
```

In [20]:
cursor = connection.cursor()

In [21]:
query = """
CREATE TABLE cafe_menu (
    item_id INT AUTO_INCREMENT PRIMARY KEY,
    item_name VARCHAR(50) NOT NULL,
    category VARCHAR(30),
    price DECIMAL(6,2),
    availability BOOLEAN DEFAULT TRUE
);
"""

In [25]:
try:
    cursor.execute(query)
except Exception as e:
    print(e)

1050 (42S01): Table 'cafe_menu' already exists

Inserting multiple values in the table using custom inputs with ```%s``` placeholder and 

```python
cursor.executemany()
```


```sql
INSERT INTO cafe_menu (item_name, category, price)
VALUES (%s, %s, %s)
```

In [21]:
data = [
    ('Espresso', 'Coffee', 120.00),
    ('Cappuccino', 'Coffee', 150.00),
    ('Cheese Sandwich', 'Snack', 90.00),
    ('Chocolate Muffin', 'Dessert', 80.00),
    ('Cold Coffee', 'Coffee', 130.00),
    ('Black Tea', 'Tea',5.00)
]

In [25]:
InsertDataQuery = """
INSERT INTO cafe_menu (item_name, category, price)
VALUES (%s, %s, %s)
"""

In [26]:
cursor.executemany(InsertDataQuery,data)
connection.commit()

In [28]:
print(f"{cursor.rowcount} Inserted Successfully")

6 Inserted Successfully

We need to commit changes everytime we make changes in the database.

Executing Select Query:
```python
cursor.fetchall()
```

In [41]:
SelectQuery = "select * from cafe_menu"

cursor.execute(SelectQuery)

In [42]:
result = cursor.fetchall()
result

[(1, 'Espresso', 'Coffee', Decimal('120.00'), 1),
 (2, 'Cappuccino', 'Coffee', Decimal('150.00'), 1),
 (3, 'Cheese Sandwich', 'Snack', Decimal('90.00'), 1),
 (4, 'Chocolate Muffin', 'Dessert', Decimal('80.00'), 1),
 (5, 'Cold Coffee', 'Coffee', Decimal('100.00'), 1),
 (6, 'Black Tea', 'Tea', Decimal('20.00'), 1)]

In [31]:
cursor.execute("desc cafe_menu")
cursor.fetchall()

[('item_id', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('item_name', 'varchar(50)', 'NO', '', None, ''),
 ('category', 'varchar(30)', 'YES', '', None, ''),
 ('price', 'decimal(6,2)', 'YES', '', None, ''),
 ('availability', 'tinyint(1)', 'YES', '', '1', '')]

updating values using ```%s``` placeholder

```sql
UPDATE cafe_menu
SET price = %s
WHERE item_name = 'Cold Coffee';

UPDATE cafe_menu
SET availability = %s
WHERE item_name = 'Cheese Sandwich';
```

In [34]:
UpdateQuery = """
UPDATE cafe_menu
SET price = %s
WHERE item_name = 'Cold Coffee';
"""

cursor.execute(UpdateQuery,(100,))
connection.commit()

Updating Multiple Coloumns

```SQL
UPDATE cafe_menu 
set availability = %s, price = %s
where item_name = %s;

In [40]:
UpdateItemDetails="""
UPDATE cafe_menu 
set availability = %s, price = %s
where item_name = %s;
"""
updated_item = [True,20.00,"Black Tea"]
cursor.execute(UpdateItemDetails,updated_item)
connection.commit()

Delete from table

Transcations using
- start_transaction()
- commit()